<div class="book-filter-main">
    <p>
        PoolCarz application is online application which allow user to take ride and also share 
        with your friend. did we mention that this app is advertisement free app , Join our best service and
        die in our ride Please.
  
    </p>
    <table style="margin: auto; margin-top: 50px;" > 
        <td>
            <button class="btn" (click)="filterToGotham()">To Gotham</button>
        </td>
        <td>
            <button class="btn"  (click)="filterFromGotham()">From Gotham</button>
        </td> <td>
            <button class="btn" (click)="displayAll()">Others</button>
        </td>
    </table>

    <p style="margin:auto;color:#007BFF;text-align: center; margin-top: 10px;">Please Select a Ride</p>
</div>