.ride-detail-main{
    background-color: white;
}
table{
    text-align: center;
}
thead{
    text-align: center;
}

button{
    background-color: #007BFF;
    color: white;
    text-align: center;
}

th{
    background-color: #007BFF;
    color: white;
    text-align: center;
}
.lab{
    background-color:  #007BFF;
}

h4{
    background-color: #007BFF;
    color: white;
    margin-top: 0!important;
    margin-bottom: 0!important;

    padding: 5px;
    text-align: center;
}
.end{
    text-align: center;
}